/* -----------------------------------*/
/* ----------->>> RESET <<<-----------*/
/* -----------------------------------*/

html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code,
 em, font, img, 
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure {
    margin:0;
    padding:0;
    border:0;
    vertical-align:  baseline;
    font-size: 100%;
    text-align: left; 
}

html  {
    overflow-y:   scroll;
}

table {border-collapse:collapse;border-spacing:0;}
ol, ul {list-style:none;}
q:before, q:after,
blockquote:before, blockquote:after {content:"";}


/* -----------------------------------*/
/* -------->>> TYPOGRAPHY <<<---------*/
/* -----------------------------------*/

<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/opendyslexic" type="text/css"/> 

@font-face {
  font-family: 'opendyslexic';
	font-style: normal;
	font-weight: normal;
} 

@font-face {
	font-family: 'opendyslexic';
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'opendyslexic';
	font-weight: bold;
	font-style: normal;
} 

@font-face {
	font-family: 'opendyslexic';
	font-weight: bold;
	font-style: italic;
} 

@font-face {
	font-family: eulexia;
} 

* {
	font-size:20px;
	line-height:200%;
	color: #191A42;
	font-family:opendyslexic !important;
}

a {}
a:hover {}   
a.link {
    background:no-repeat url('/PublishingImages/UCDLayoutImages/linkArrow.gif');
    display:block;
    padding-left:18px;
    height:15px;
    font-weight:700;
}

ul { list-style-position:outside; margin:6px 0 6px 0px; *margin:6px 0 6px 3px; list-style-type:disc; }
    ul li { line-height:1.2em; font-size: 14px; }
        ul ul { margin-left: 14px; }

ol { list-style-position:outside; margin: 6px 0 6px 5px; *margin: 6px 0 6px 11px; list-style-type:decimal; }
    ol li { line-height:1.3em; font-size: 14px; }
        ol ol { margin-left: 14px; }

img {
    max-width: 100%;
}
    
body {
    line-height: 1.5;
    text-align:         center;
    background-image:   url('images/bg3.png');
    background-repeat:  repeat-x;
    background-color:   white;
}

/* -----------------------------------*/
/* ----------->>> DIVS <<<------------*/
/* -----------------------------------*/


#placer  {
/*    position:  relative;*/
    text-align:   left;
    width:  auto;
    max-width: 948px;
/*    width:  expression(document.body.clientWidth > 948? "948px": "auto");*/
    margin-left: auto;
    margin-right: auto;
}


#spacer  {
    height:             34px;
}
        
#header  {
    height:             78px;
    background-color:   #FFFFFF;
    text-align:         left;
}

#content {
    min-height:         602px;
    height:             auto;
    font-size:          14px;
    font-family:        Arial;
    margin:             0px 0px;
    padding:            20px 20px;
    background-color:   #FFFFFF;
    text-align:         left;
    overflow:           hidden;
}

.photoimage  {
    text-align:         center;
    height:             240px;
    width:              240px;
    padding:            20px 23px;
/*    position:           relative;*/
    left:               20px;
    top:                40px;
    float:              left;
}

#contentimage  {
    /*height:             150px;*/
    width:              200px;
    padding:            60px 40px;
    text-align:         center;
    line-height:        2;
    /*position:           relative;
    left:               20px;
    top:                40px;*/
    float:        left;
}

#contentimage img {
    padding:   0px 0px 20px 0px;
}

#contentdata   {
/*    position:           relative;*/
    padding:            20px 40px 20px 300px;
/*    left:               280px;
    top:                -180px;*/
    float:        top;
}

#footer  {
    font-size:          14px;
    font-family:        Arial;
    margin:             20px 20px;
    text-align:         center;
}

/* -----------------------------------*/
/* ---------->>> TABLES <<<-----------*/
/* -----------------------------------*/


#aboutTable {
/*    position:  relative;*/
    font-size: 14px;
    font-family: Arial;
    margin:0px 0px;
    top: -20px;
}

#aboutTable td{
    text-align:   left;
    padding:   5px 0px;
    vertical-align:  top;
}

